.zoom-panel {
    box-sizing: border-box;
    padding: 0 10px;
    
    display: inline-flex;
    column-gap: 10px;

    border-radius: 100px;
    background-color: #8FC39A;
}

.zoom-display {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.zoom-panel input.span {
    width: 50px;
}