.document-display {
    height: auto;
    box-sizing: border-box;
    padding: 40px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.document-segment {
    position: relative;
}
