.tool-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 5px;
}

.tool-button:not(.active):hover {
    background-color: #d6d3be;
    cursor: pointer;
}

.tool-button.active {
    background-color: #D6D1B1;
}

.tool-button img.icon {
    color: white;
}