.tool-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.tool-button:hover {
    background-color: #d9d9d985;
}

.tool-button img.icon {
    width: 24px;
}