.dropdown-list {
    display: inline-flex;
    flex-direction: column;

    font-size: 20px;
}

.title-container {
    display: flex;
    flex-direction: row;
    column-gap: 11px;
    width: 100%;
    color: #690003;
}

.title-container:hover {
    cursor: pointer;
}

.links-list {
    display: inline-flex;
    column-gap: 30px;
    position: absolute;
    top: 78px;
    padding: 30px;

    z-index: 99;
    background-color: white;
    box-shadow: 0 4px 3px #808080;
}

.links-list ul {
    display: inline-flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0;
}

.links-list li::marker {
    color: #FE5F55CC;
}

.links-list a:hover {
    color: #808080;
}

.hidden {
    display: none;
}