@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html,
body,
#root {
    height: 100%;
}

h1 {
    font-family: "Inter";
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
}

img.icon {
    width: 35px;
    height: 35px;
}

body {
    background-color: #E7E7E7;
}

main.section {
    display: flex;
    width: 100%;
    padding-top: 60px;
}

main.section.full {
    padding-top: 0;
}

main.section > .__content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.__content > h1 {
    width: 100%;
    text-align: center;
    margin: auto;
}