@font-face {
    font-family: "Roboto";
    src: url("/public/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("/public/fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("/public/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/public/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

html,
body,
#root {
    height: 100%;
}

h1 {
    font-family: "Inter";
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
}

img.icon {
    width: 35px;
    height: 35px;
}

body {
    background-color: #E7E7E7;
}

main.section {
    display: flex;
    width: 100%;
    padding-top: 60px;
}

main.section.full {
    padding-top: 0;
}

main.section > .__content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.__content > h1 {
    width: 100%;
    text-align: center;
    margin: auto;
}

input.span {
    height: auto;
    box-sizing: 0;

    text-align: center;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    background-color: #ffffff5b;
}

input.span:hover,
input.span:focus {
    background-color: #ffffff5b;
}