.add-image-file-box {
    display: flex;
    justify-content: center;
}

.add-image-file-box button {
    width: 100%;
    font-family: "Inter";
    font-size: 20px;
}

.image-container {
    border: 2px dashed #ccc;
    position: relative;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    position: absolute;
    cursor: pointer;
}

.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}
