.add-file-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 60px;

    border-radius: 50px;
    background-color: #FE5F55;
    color: white;
}

.add-file-block:hover {
    background-color: #ff7b71;
}

.add-file-block.clickable:hover {
    cursor: pointer;
}

.add-file-block > span.choose-file-span {
    margin: auto;
}

.add-file-block > .__content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}

.__content > .span-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.file-info-box {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

img.icon {
    width: 32px;
    height: 32px;
}

.icon-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

span.file-name {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

span.file-size {
    font-size: 18px;
    font-weight: 400;
}