.add-file-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    /* padding: 0 40px; */

    border-radius: 10px;
    background-color: #D3D3D3;
}

.add-file-block:hover {
    background-color: #E1E1E1;
}

.add-file-block.clickable:hover {
    cursor: pointer;
}

.add-file-block > span.choose-file-span {
    margin: auto;
}

.add-file-block > .__content {
    display: flex;
    column-gap: 70px;
    
    width: 100%;
    padding: 0 20px;
}

.__content > .span-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.file-info-box {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

img.icon {
    width: 32px;
    height: 32px;
}

.icon-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

span.file-size {
    font-size: 18px;
    font-weight: 400;
}