.page-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 90px);
    height: 100%;
    
    padding-left: 90px;
    overflow-y: hidden;
    background-color: #DDEED9;
}

.start-state {
    display: flex;
    width: 100%;
    justify-content: center;
}

.start-state > .__content {
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

main.section.editor-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.document-segment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 40px;
    width: 100%;
    height: 100%;
    padding-top: 40px;

    overflow-y: auto;
    flex-grow: 1;
}

.document-container {
    display: inline-flex;
    flex-direction: column;
}

.buttons-container {
    position: sticky;
    top: 0;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.document-display {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    padding-bottom: 120px;
}

.interaction-segment {
    position: absolute;
    top: calc(40px + 78px);
    right: 40px;
    bottom: 40px;

    display: inline-flex;
    flex-direction: column;
    row-gap: 30px;
}

.interaction-field {
    display: flex;
    width: 300px;
    height: 100%;
    padding: 30px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(173, 173, 173, 0.5);
}

.interaction-field > .__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}