.instrument-button {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    border-radius: 100px;
}

.instrument-button:hover {
    background-color: #ffffff5b;
    cursor: pointer;
}

.instrument-button.active {
    background-color: #ffffffbb;
}

.instrument-button.active:hover {
    background-color: #ffffffdd;
}

.instrument-button.danger:hover {
    background-color: #ff1616a1;
}

.instrument-button > img {
    width: 24px;
}
