.arrow-box {
    display: flex;
    width: 20px;
    height: 20px;
}

.arrow-box > .__content {
    display: inline-flex;
    margin: auto;
}

.arrow {
    width: 9px;
    height: 9px;
    margin: auto;

    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(-45deg);
}

.hidden {
    display: none;
}

.arrow-box.up .__content {
    position: relative;
    transform: rotate(180deg);
    top: 3px;
}