main.section.convert-page {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    justify-content: space-between;

    background-color: #DDEED9;
}

main.section.compress-page h1 {
    text-align: center;
}

p.description {
    width: 600px;
    text-align: center;
}

.center-block {
    display: inline-flex;
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
}

.center-block > .texts {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}