.file-additors-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
    width: 100%;
}

.choose-files-container {
    margin-top: 100px;
}

/* .add-files-block.id-convert-page .background {
    left: 35%;
} */