.description-block {
    display: flex;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 185px;

    background-color: #E7E7E7;
}

.description-block > .__content {
    display: flex;
    column-gap: 65px;
    width: 1280px;

    margin: auto;
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: 62px;
    width: 50%;
}

.add-files-link {
    display: flex;
    width: 100%;
}